@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    width: 264px;
  }

  .features-item-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
  }

  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
  }
}
