@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: 168px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
